<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>O Meu Portfólio</title>
</head>

<body>
    <nav>
        <a href="{% url 'portfolio:index' %}">Início</a> |
        <a href="{% url 'portfolio:projetos' %}">Projetos</a> |
        <a href="{% url 'portfolio:tecnologias' %}">Tecnologias</a> |
        <a href="{% url 'portfolio:tfcs' %}">TFCs</a> |
        <a href="{% url 'portfolio:competencias' %}">Competências</a> |
        <a href="{% url 'portfolio:ucs' %}">Unidades Curriculares</a> |
        <a href="{% url 'portfolio:formacoes' %}">Formação</a> |
        <a href="{% url 'portfolio:makingof' %}">Making Of</a> |
        <a href="{% url 'portfolio:licenciaturas' %}">Licenciaturas</a> |
        <a href="{% url 'portfolio:docentes' %}">Docentes</a> |
        <a href="{% url 'portfolio:sobre' %}">Sobre a App</a> |
        <a href="{% url 'artigos:lista' %}">Artigos</a> |
        
        {% if request.user.is_authenticated %}
            <span>[ Olá, <b>{{ request.user.username }}</b> | <a href="{% url 'accounts:logout' %}">Sair</a> ]</span>
        {% else %}
            <span>[ <a href="{% url 'accounts:login' %}">Login</a> | <a href="{% url 'artigos:registo' %}">Registar Autor</a> ]</span>
        {% endif %}
    </nav>

    <hr>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>