{% extends 'portfolio/base.html' %}
{% block content %}
    <h1>Docentes / Professores</h1>
    <ul>
        {% for docente in docentes %}
            <li>
                <strong>{{ docente.nome }}</strong>
                {% if docente.link_pagina_pessoal %}
                    - <a href="{{ docente.link_pagina_pessoal }}" target="_blank">Página Pessoal</a>
                {% endif %}
                <p>Ensina em: 
                    {% for uc in docente.ucs.all %}
                        {{ uc.nome }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}